---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2586704611373830"
     crossorigin="anonymous"></script>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">Gemini Pro</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://blog.geminiprochat.com/posts/what-is-gemini"> Gemini Pro API.</a>
    <a href="https://github.com/LiCain/geminichatweb" class="font-bold">Source code</a>
  </p>
</header>
